<footer class="page-footer blue darken-4 ">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Elian Estrada</h5>
        <p class="grey-text text-lighten-4">
          201806838 - USAC Faculty of Engineering
        </p>
      </div>
      <div class="col l4 offset-l2 m12 s12">
        <a href="https://www.facebook.com/" target="_blank"> <i class="medium material-icons black-text " title="Facebook" >facebook</i></a>
        <a href="https://portal.ingenieria.usac.edu.gt/" target="_blank"  style="margin: 2em;"> <i class="medium material-icons black-text " title="USAC" >school</i></a>
        <a href="https://github.com/ElianEstrada/-MIA-Project2_201806838" target="_blank"> <i class="medium material-icons black-text " title="Repository" >public</i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright Santa Cloud Platform
    </div>
  </div>
</footer>
