<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper  indigo darken-4">
      <a routerLink="/home" class="brand-logo" style="margin-left: 1em;"> <b>Home</b></a>
      <ul class="right hide-on-med-and-down">
        <div *ngIf="notUser">
          <li><a routerLink= "/login">Login</a></li>
          <li><a href="#">Sign in</a></li>
          <!-- Dropdown Trigger -->
        </div>
        <div *ngIf="admin">
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1"
                  >Dropdown<i class="material-icons right">arrow_drop_down</i></a
                >
              </li>
        </div>
      </ul>
    </div>
  </nav>
</div>
