<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper indigo darken-4">
      <a *ngIf = "!admin" routerLink="/home" class="brand-logo" style="margin-left: 1em">
        <b>Home</b></a
      >
      <a *ngIf = "admin" routerLink="/principal" class="brand-logo" style="margin-left: 1em">
        <b>Home</b></a
      >
      <ul class="right hide-on-med-and-down" *ngIf="notUser">
        <li *ngFor="let item of noUser">
          <a [routerLink]="[item.link]" routerLinkActive="router-link-active">
            {{ item.name }}
          </a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down" *ngIf="admin">
        <li *ngFor="let item of admins">
          <a [routerLink]="[item.link]" routerLinkActive="router-link-active">
            {{ item.name }}
          </a>
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="session">Session <i class="material-icons right">arrow_drop_down</i></a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down" *ngIf="child">
        <li *ngFor="let item of childs">
          <a [routerLink]="[item.link]" routerLinkActive="router-link-active">
            {{ item.name }}
          </a>
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="session">Session <i class="material-icons right">arrow_drop_down</i></a>
        </li>
      </ul>
      <ul id="session" class="dropdown-content">
        <li><a>Profile</a></li>
        <li class="divider"></li>
        <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" (click) = "logout()">Log out</a></li>
      </ul>
    </div>
  </nav>
</div>
