.form__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 80vh;
}

.form__content__input{
    padding: 0px 70px 50px;
    background: rgb(255, 255, 255, 0.5)
}

.form__content__input input{
    font-size: 20px;
}

button{
    size: 30px;
}

::placeholder{
    color: black;
}
