/* You can add global styles to this file, and also import other style files */
html{
    height:100%;
    font-family: 'Times New Roman', Times, serif;
}

body{
    /*background-image: url("https://www.mediafire.com/convkey/5e4a/b4ehgzb5zphaehz6g.jpg");*/
    /*background-image: url("https://vamf.files.wordpress.com/2010/12/vamf-navidad-wallpaper-kawaii.jpg?w=600");*/
    /*background-image: url("https://1.bp.blogspot.com/-5g-I-Plg4UA/VImvocBTb_I/AAAAAAAAF3E/i_RoVBeIaOc/s1600/latest.jpg");*/
    /*background-image: url("https://images.alphacoders.com/979/thumb-1920-979577.jpg");*/
    /*background-image: url("https://s2.best-wallpaper.net/wallpaper/1920x1080/1708/Beautiful-Christmas-tree-lights-snow-night_1920x1080.jpg");*/
    background-image: url("./assets/navidad.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 90%;
}
